#gamestatus { font-size: 1.5em; margin: 20px; }
#selectedbox { border: 2px solid black; padding: 4px; margin: 20px; }
#selected { border: 1px solid black; }
#buttonbox { padding: 4px; margin: 20px; width: 52px; }
#boardcont { }
.piecespace { }
#s1 { }
#s2 { }
#s3 { }
#s4 { }
#s5 { }
#s6 { }
#s7 { }
#s8 { }
#s9 { }
#s10 { }
#s11 { }
#s12 { }
#s13 { }
#s14 { }
#s15 { }
#s16 { }

#unplayed { }
#unplayed img {}
#srdh {}
#srds {}
#srlh {}
#srls {}
#ssdh {}
#ssds {}
#sslh {}
#ssls {}
#trdh {}
#trds {}
#trlh {}
#trls {}
#tsdh {}
#tsds {}
#tslh {}
#tsls {}

#chat {  overflow: auto; border:1px solid #222; padding: 2px;}
#chat p { padding: 3px; margin: 0; }
#chat p:nth-child(odd) { background: #C6C6C6; }
#form { background: #fff; }
#form input[type=text] { padding: 5px; }
#form input[type=submit] { padding: 5px;}
