#gamestatus { font-size: 1.5em; }
#selectedbox { border: 2px solid black; padding: 4px; margin: 20px; width: 52px; position: absolute; }
#buttonbox { padding: 4px; margin: 20px; width: 52px; position: absolute; top: 250px;}
#selected { border: 1px solid black; width: 50px; height: 89px;}
#boardcont { padding: 20px 5px 5px 25px; top: 35px; left: 200 px; position: absolute; left: 100px; top: 36px; }
.piecespace { border: 0px solid black; width: 50px; height: 89px; position: absolute; }
#s1 { top: 170px; left: 46px; }
#s2 { top: 118px; left: 101px; }
#s3 { top: 222px; left: 101px; }
#s4 { top: 66px; left: 156px; }
#s5 { top: 170px; left: 156px; }
#s6 { top: 273px; left: 156px; }
#s7 { top: 14px; left: 211px; }
#s8 { top: 118px; left: 211px; }
#s9 { top: 222px; left: 211px; }
#s10 { top: 325px; left: 211px; }
#s11 { top: 66px; left: 266px; }
#s12 { top: 170px; left: 266px; }
#s13 { top: 273px; left: 266px; }
#s14 { top: 118px; left: 321px; }
#s15 { top: 222px; left: 321px; }
#s16 { top: 170px; left: 376px; }

#unplayed { position: absolute; top: 500px; }
#unplayed img {position: absolute; }
#srdh {left: 0px;}
#srds {left: 50px;}
#srlh {left: 100px;}
#srls {left: 150px;}
#ssdh {left: 200px;}
#ssds {left: 250px;}
#sslh {left: 300px;}
#ssls {left: 350px;}
#trdh {left: 400px;}
#trds {left: 450px;}
#trlh {left: 500px;}
#trls {left: 550px;}
#tsdh {left: 600px;}
#tsds {left: 650px;}
#tslh {left: 700px;}
#tsls {left: 750px;}

#chat {  position: absolute; left: 600px; top: 130px; height: 280px; overflow: auto; width: 200px; border: 1px solid #222; font: 13px Helvetica, Arial; }
#chat p { padding: 8px; margin: 0; }
#chat p:nth-child(odd) { background: #A6A6A6; }
#form {  position: absolute; top: 430px; left: 600px; width: 200px; background: #fff; }
#form input[type=text] { width: 120px; padding: 5px; }
