body {  margin-top: 0.1em;
        margin-bottom: 0.1em;
          height: 100%;
    width: 100%;
    position: absolute;
  }
.container-fluid,
.row-fluid { height: inherit; }
#gamestatus { font-size: 1em; padding: 4px;}
#selectedbox { border: 2px solid black; padding: 4px; text-align: center; }
#selected { border: 0px solid black; margin: 1px; }
div.span2 #selected { width:70%;  }
div.span4 #selected { width:53%;  }
#buttonbox { margin: 10%; }
#boardcont { }
.piecespace { }
#boardcont object { border: 1px solid black; width: 24%; float:left; margin: 0px;}
.played {position: relative; }
#s1 { }
#s2 { }
#s3 { }
#s4 { }
#s5 { }
#s6 { }
#s7 { }
#s8 { }
#s9 { }
#s10 { }
#s11 { }
#s12 { }
#s13 { }
#s14 { }
#s15 { }
#s16 { }

#unplayed { }
#unplayed object { border: 0px solid black; float:left; width: 24%; margin: 1px; }
#srdh {}
#srds {}
#srlh {}
#srls {}
#ssdh {}
#ssds {}
#sslh {}
#ssls {}
#trdh {}
#trds {}
#trlh {}
#trls {}
#tsdh {}
#tsds {}
#tslh {}
#tsls {}

#chat {  overflow: auto; border:1px solid #222; padding: 2px;}
#chat p { padding: 3px; margin: 0; }
#chat p:nth-child(odd) { background: #C6C6C6; }
#form { background: #fff; }
#form input[type=text] { padding: 5px; }
#form input[type=submit] { padding: 5px;}
